* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
}
.wholeMain {
  background-image: url("./snow.jpg") !important;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.countDown {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  margin: 1rem 2rem;
}
.secondMain {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  right: 0px;
  left: 10px;
}
